<app-sidenav></app-sidenav>
<div class="About-main">
  <router-outlet>
    <div class="center-content">
      <h1>What is ManageEase?</h1>
      <p>Welcome to ManageEase, where simplicity meets sophistication in the realm of Checkout Management and Billing Systems. At MIT-WPU, we take pride in introducing a revolutionary solution designed to make your business operations seamless and stress-free. ManageEase is not just a system; it's a commitment to efficiency and excellence. Our state-of-the-art Billing System is crafted with precision to meet the unique demands of your business, ensuring smooth transactions and effortless management. Whether you're a startup or an established enterprise, ManageEase adapts to your needs, offering a user-friendly experience that redefines the way you handle transactions. Join us on a journey where every checkout becomes an experience of ease and precision. Choose ManageEase for a future where managing your transactions is as effortless as the name suggests.</p>
    </div>
    <h1>Contributors</h1>
    <div class="person-row">
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img class="circle img1" src="https://media.licdn.com/dms/image/D4D03AQF1T07ZQ4lGdQ/profile-displayphoto-shrink_200_200/0/1696148248162?e=2147483647&v=beta&t=NV7sXs4JP_MrHfz1gUzGLlPpCvGGDp0sUkdIh3ZRetQ"/>
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Nauman Pathan</div>      
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img class="circle img2" src="https://media.licdn.com/dms/image/D4D03AQHNyoyKnQc9Gg/profile-displayphoto-shrink_200_200/0/1684730612074?e=2147483647&v=beta&t=IVM9gOfAdIDmVnr5bRO2bIPuzraExkJz3cGXWm1ij-8"/>
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Tejas Kulkarni</div>      
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img class="circle img3" src="https://media.licdn.com/dms/image/D4D03AQE1AgRnCNySxg/profile-displayphoto-shrink_200_200/0/1699439402233?e=2147483647&v=beta&t=X6klurxAymf84yds5vrYQrcqrtIWUDyUnM-POTZ9g-E"/>
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Kshitij Ghodake</div>      
      </div>
    </div>
  </router-outlet>
</div>