.About-main {
    background-color: rgb(255, 255, 255);
    width: 80%; /* Adjust the width as needed */
    padding: 20px; /* Add padding for better appearance */
    float:right;
    margin: 0 auto;
}

.center-content {
    text-align: center;
}

h1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Agbalumo', Arial, sans-serif;
    font-size: 40px;
}

p {
    font-size: 1.2em;
    text-align: left;
    font-family: 'Agbalumo', Arial, sans-serif;
}

.person-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.person {
    text-align: center;
    margin: 10px;
}

.circle {
    background-color: #fee7d3;
    border-radius: 50%;
    cursor: pointer;
    height: 150px;
    width: 150px;
    overflow: hidden; /* Ensure the image stays within the circle */
}

.img {
    width: 100%;
    height: auto;
}

.divider {
    background-color: #ffffff;
    height: 1px;
    width: 160px;
    margin: 0 auto;
}

.name {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Agbalumo', Arial, sans-serif;
}