.dashboard-main{
  float: right;
  margin:-0.7em 0em 0em 0.1em;
  height:19.3em;
  width:68em;
}
.UpperDiv {
  height: 5em;
  width: 66em;
  margin: -0.7em 0em 0em -1.7em;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 2em; 
}
.search-bar {
  margin: 1.2em 0em 1em 20em;
}
form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 1em;
}

input {
  padding: 0.5em;
  border: 1px solid #4e9f3d;
  border-radius: 5px;
}
input:focus{
  outline: #4e9f3d;
}

.icon-container {
  position: relative;
  float: right;
  margin: 12px;
}
.icon {
  margin-top: -2.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}
.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}
.icon-container:hover .dropdown-content {
  display: block;
}
.products-div{
  margin:2.8em 0em 0em 0em;
  width: 67em;
  height: auto;
}
