html {
  font-family: "Nunito", sans-serif;
}
.sidenav {
  float: left;
  height: 39em;
  width: 15em;
  margin: -0.7em 0em 0em -0.5em;
  padding-top: 3em;
  position: fixed;
  z-index: 1;
  background-color: #1e5128; 
}
/* #4e9f3d
#d8e9a8
#191A19 */
.sidenav a {
  display: block;
  height: 1.8em;
  margin-top: 1.3em;
  padding: 0.7em 0em 0em 1em;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3em;
  text-align: left;
  color: #ffffff;
  background-color: inherit;
  text-decoration: none; 
}
.sidenav a.active {
  border-right: 10px solid #1c1c1c;
  color: #1c1c1c;
  background-color: #ffffff;
}