<div class="sidenav">
  <a [routerLink]="['/home']" routerLinkActive="active">
    <i class="fas fa-home" style="margin-right: 1.5em;"></i>Home
  </a>
  <a [routerLink]="['/stations']" routerLinkActive="active">
    <i class="fas fa-store" style="margin-right: 1.5em;"></i>Stations
  </a>
  <a [routerLink]="['/cart']" routerLinkActive="active">
    <i class="fas fa-shopping-cart" style="margin-right: 1.5em;"></i>Cart
  </a>
  <a [routerLink]="['/billing']" routerLinkActive="active">
    <i class="fas fa-money-bill-alt" style="margin-right: 1.5em;"></i>Billing
  </a>
  <a [routerLink]="['/about']" routerLinkActive="active">
    <i class="fas fa-users" style="margin-right: 1.5em;"></i>About
  </a>
  <br><br><br><br>
  <button style="font-size: 1.3em;margin-left: 2em;background-color:inherit;cursor: pointer;border: none;color:#fff;">Need Help ?</button>
  <strong style="float: left; margin: 2em 0em 0em 2em; font-size: 1em; color: #fff;">&#169; &nbsp;ManageEase 2023</strong>
</div>
